<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{item.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div><label>Id: </label> {{item.id}}</div>
        <div> <label>Name: </label> {{item.name}}</div>
        <div *ngIf="item.lostDate"> <label>Lost on: </label> {{item.lostDate| date:'yyyy-MM-dd'}}</div>
        <div *ngIf="item.foundDate"> <label>Found on: </label> {{item.foundDate| date:'yyyy-MM-dd'}}</div>
        <div> <label>Size: </label> {{item.size | lowercase }}</div>
        <div> <label>Color: </label> {{item.color}}</div>
        <div> <label>Category: </label> {{item.category}}</div>
        <div> <label>Material: </label> {{item.material}}</div>
        <div> <label>Reported on: </label> {{item.creationDate | date:'yyyy-MM-dd hh:mm'}}</div>
      </div>
      <div class="col-md-6">
        <br>
        <div> <img src={{item.photoURL}}> </div>
      </div>
    </div>
    <div class="row col-md-12">
      <div> <label>Description: </label> {{item.description}}</div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-outline-primary" (click)="open(content)">Details</button>