<div class="row">
  <div class="col-md-6">
    <form>
      <h4> Insert search criteria </h4>
      <div class="form-group">
        <label for="itemName">Item name:</label>
        <input type="text" #searchItemName class="form-control" id="itemName" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="dateLost">Date lost:</label>
        <input type="date" #searchItemDate class="form-control" id="dateLost">
      </div>
      <div align=right>
      <button type="submit" class="btn btn-default" (click)="getItemsBy(searchItemName.value, searchItemDate.value)">Submit</button>
      <button type="submit" class="btn btn-default" (click)="ngOnInit()"> Reset</button>
      <button type="submit" class="btn btn-default" (click)="addNewItemInModal()"> Add new</button>
      </div>
    </form>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>name</th>
      <th>date lost</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items" (click)="showDetail(item.id)">
      <th scope=row>{{item.id}}</th>
      <td>{{item.name}}</td>
      <td>{{item.lostDate | date:'yyyy-MM-dd'}}</td>
      <td><button type="submit" class="btn btn-warning" (click)="remove(item); $event.stopPropagation()"> Delete</button>
    </tr>
  </tbody>
</table>
<div>
  Report lost item: <br>
  <label>name </label>
  <input #itemName />
  <label>  date </label>
  <input type="date" #itemDate />
  <button (click)="add(itemName.value, itemDate.value)">
    Add
  </button>
</div>