<h5>{{user.firstName}} {{user.lastName}} wishlist</h5>
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>#</th>
            <th>Name</th>
            <th>Category</th>
            <th>Reported on</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="wishlist.length === 0"><td></td><td></td><td>no items in wishlist</td></tr>
        <tr *ngFor="let req of wishlist">
            <td></td>
            <th scope=row>{{req.item.id}}</th>
            <td>{{req.item.name}}</td>
            <td>{{req.item.category}}</td>
            <td>{{req.item.creationDate | date:'yyyy-MM-dd hh:mm'}}</td>
            <td>{{req.rating}}</td>
        </tr>
    </tbody>
</table>
<button class='btn btn-primary' (click)="goBack()">Back</button>